* {
  margin: 0;
  box-sizing: border-box;
}

div {
  display: block;
}

a {
  cursor: pointer;
  color: #737373;
  text-decoration: none;
  margin-left: 10px;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #8a8d91;
}

body {
  background-color: #f0f2f5;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.footer-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0px;
  height: 170.297px;
  width: 100%;
  background-color: #fff;
}

.footer {
  width: 100%;
  height: 150.297px;
  position: fixed;
  bottom: 15px;
  display: flex;
  justify-content: center;
}

.footerIn { 
  display: flex;
  text-align: center;
  width: 100%;
  height: 150.297px;
  color: #737373;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: normal;
  line-height: 15px;
  word-spacing: 1px;
  padding-bottom: 10px;
}

.linediv {
  display: flex;
  justify-content: center;
  height: 10px;
  /* border: 1px solid blue; */
  width: 100%;
  position: fixed;
  bottom: 100px;
}

#line {
  border-bottom: 1px solid #dadde1;
  width: 67%;
  margin-left: 4.9%;
  position: fixed;
  bottom: 100px;
}

.creditfooter {
  padding-top: 20px;
  height: 70px;
  display: inline-block;
  word-spacing: 5px;
  text-align: left;
  margin-left: 26.78%;
  width: 700px;
}

.credits {
  display: inline-block;
}

.links {
  padding: 17px;
  text-align: left;
  padding-bottom: 17px;
  position: absolute;
  top: 65px;
  line-height: 0.8;
  width: 60%;
  margin-left: 25.7%;
  height: 50px;
  word-spacing: 1px;
}

.socials {
  display: inline-block;
  padding-left: 10px;
}

.main-container {
  padding-top: 30px;
  padding-bottom: 20px;
  position: fixed;
  top: 20px;
  height: 584px;
  width: 100%;
}

.content-container {
  margin-left: 300.500px;
  margin-right: 300.500px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 400px;
  width: 1000px;
}

.logotextdiv { 
  width: 548px;
  height: 280.068px;
}

.logodiv {
  position: relative;
  right: 465px;
  width: 548px  ;
  height: 190.078px;
}

.logo {
  height: 180px;
  margin: -28px;
  position: absolute;
  top: 85px;
  left: 472px;
}

.slogan {
  width: 500px;
  height: 64px;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 30px;
}

.signin-container{
  width: 396px;
  height: 496px;
  margin-left: 583px;
  position: absolute;
  top: 70px;
}

.signin-in {
  height: 456px;
  width: 396px;
  margin-top: 39px;
}

.signin-form {
  margin-top: 40px;
  position: absolute;
  bottom: 180px;
  padding-top: 20px;
  background-color: #fff;
  padding-bottom: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  height: 350.828px;
  width: 396px;
  border-radius: 8px;
}

.signin-footer {
  width: 396px;
  text-align: center;
  height: 18.750px;
  margin-top: 28px;
  position: absolute;
  top: 313px;
}

h3 {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 15px;
}

.signincardIn {
  display: block;
  text-align: center;
}

#username, #password {
  height: 52px;
  margin-bottom: 10px;
  font-family: inherit;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  font-size: 17px;
  padding: 14px 16px;
  width: 364px;
  letter-spacing: normal;
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

#password {
  margin-bottom: 15px;
}

#login {
  background-color: #0866ff;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  font-family: inherit;
  color: white;
  width: 364px;
  font-weight: bold;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

#login:hover {
  cursor: pointer;
  background-color: #1877F2;
}

.signup-line {
  margin: 10px 10px 10px;
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  text-align: center;
}

.line {
  border-bottom: 1px solid #dadde1;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

#midtext {
  margin-bottom: 20px;
}

#newaccount {
  background-color: #42b72a;;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  /* padding: 0 16px; */
  font-family: inherit;
  color: white;
  width: 200.609px;
  height: 48px;
  font-weight: bold;
  transition: 200ms cubic-bezier(.08,.52,.52,1) background-color, 200ms cubic-bezier(.08,.52,.52,1) box-shadow, 200ms cubic-bezier(.08,.52,.52,1) transform;
}

#newaccount:hover {
  cursor: pointer;
  background-color: #00A400;
}

/* SignUpPopup.css */

.popupscreen {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  height: max-content;
}

.popup-overlay { 
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent black overlay */
  z-index: 1000; 
  height: 100%;
  width: 100%;
}

.popup {
  padding-left: 10px;
  padding-right: 10px;
  position: fixed;
  width: 448px;
  height: 500.938px;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  z-index: 1001; /* Place pop-up above the overlay */
}

.popup-content {
  /* Add styles for the content of the pop-up */
}

/* Optional: Hide scrollbars when pop-up is open */
body.signup-popup-open {
  overflow: hidden;
}

.closeIcon {
  position: absolute;
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 2;
}

.closeIcon:hover {
  cursor: pointer;
}

.signup {
  padding-left: 10px;
  padding-top: 5px;
}

#fName{
  display: inline-block;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 9px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  color: black;
  background: #f5f6f7;
  padding: 10px 10px 10px 10px;
  width: 194px;
  letter-spacing: normal;
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
}

#surname {
  display: inline-block;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 9px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  color: black;
  background: #f5f6f7;
  padding: 10px 10px 10px 10px;
  width: 194px;
  letter-spacing: normal;
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
}

#uname, #email, #pword {
  display: inline-block;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 9px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  color: black;
  background: #f5f6f7;
  padding: 10px 10px 10px 10px;
  width: 407px;
  letter-spacing: normal;
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
}

.dob{ 
  color: #606770;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 3px;
  margin-top: 2px;
}

#day {
  padding-left: 10px;
  width: 126.6px;
  height: 34px;
  margin-right: 13px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dddfe2;
}

#month {
  padding-left: 10px;
  width: 126.6px;
  height: 34px;
  margin-right: 13px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dddfe2;
}

#year {
  padding-left: 10px;
  width: 126.6px;
  height: 34px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #dddfe2;
}

option {
  font-weight: normal;
  display: block;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  font-size: 15px;
  white-space: nowrap;
}

#malediv {
  display: inline-block;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  color: black;
  background: #fff;
  padding: 10px 10px 10px 10px;
  width: 194px;
  letter-spacing: normal;
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
}
#femalediv {
  display: inline-block;
  height: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 6px;
  border: 1px solid #dddfe2;
  color: black;
  background: #fff;
  padding: 10px 10px 10px 10px;
  width: 194px;
  letter-spacing: normal;
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 16px;
}

#male {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
  height: 36px;
  margin: 0;
  position: absolute;
  right: 250px;
  top: 382px;
}

#female {
  background-color: initial;
  cursor: default;
  appearance: auto;
  box-sizing: border-box;
  margin: 3px 3px 0px 5px;
  padding: initial;
  border: initial;
  height: 36px;
  margin: 0;
  position: absolute;
  right: 37px;
  top: 382px;
}

.label {
  box-sizing: border-box; 
  color: #1c1e21;
  display: inline-block;
  position: absolute;
  bottom: 82px;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  padding-left: 10px;
  width: 180px;
}

.gender {
  padding-bottom: 10px;
}

.signupbutton {
  background: none;
  background-color: #00a400;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  height: 36px;
  overflow: hidden;
  padding: 0 32px;
  min-width: 194px;
  text-shadow: none;
}

.signupbutton:hover {
  cursor: pointer;
  background: linear-gradient(#67ae55, #578843);
}

.signupbutton-container {
  text-align: center;
}